version: "3.3"

services:
  client:
    container_name: client
    stdin_open: true
    build:
      dockerfile: Dockerfile
      context: ./front-end
    environment:
      - REACT_APP_BASE_API=/api
    ports:
      - "80:80"
    depends_on:
      - server
  server:
    container_name: server
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./back-end
    environment:
      - PORT=8080
      - DB_URL=mongodb://mongo:27017/enterprise-project
      - USER='user'
      - ADMIN='admin'
      - ENCRYPT_KEY='enterprise-web-development-v1-key'
      - SECRET_KEY='enterprise-web-development-v1-jwt-secret-key'
    ports:
      - "8080:80"
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - 27017:27017
volumes:
  mongodb:
