.ck-editor {
    border: 1px solid var(--ck-color-base-border) !important;
    border-radius: var(--ck-border-radius) !important;

    /* Set vertical boundaries for the document editor. */
    max-height: 500px !important;
    width: 100%;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}


.ck-editor__top {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.ck-editor__top .ck-sticky-panel {
    border: 0;
    border-radius: 0;
}

.ck-editor .ck-content {
    padding: calc( 1 * var(--ck-spacing-large)) !important;
    background-color: gray !important;

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: auto !important;
    overflow-x: auto !important;
}

.ck-editor .ck-editor__editable_inline {
    /* Set the dimensions of the "page". */
    width: 100%;
    min-height: 95%;

    /* Keep the "page" off the boundaries of the container. */
    padding: 3%;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: 2px;
    background-color: white !important;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}

.ck-editor .ck-content,
.ck-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ck-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.ck-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}

/* Set the styles for "Heading 1". */
.ck-editor .ck-content h2,
.ck-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: 2.18em;
    font-weight: normal;
}

.ck-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: .342em;
    margin-bottom: .142em;
}

/* Set the styles for "Heading 2". */
.ck-editor .ck-content h3,
.ck-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: 1.75em;
    font-weight: normal;
    color: hsl( 203, 100%, 50% );
}

.ck-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: var(--ck-color-list-button-on-text);
}

/* Set the styles for "Heading 2". */
.ck-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: .171em;
    margin-bottom: .357em;
}

/* Set the styles for "Heading 3". */
.ck-editor .ck-content h4,
.ck-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: 1.31em;
    font-weight: bold;
}

.ck-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: .286em;
    margin-bottom: .952em;
}

/* Set the styles for "Paragraph". */
.ck-editor .ck-content p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: .5em;
    margin-bottom: 1.13em;
}

.ck-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc( 2 * var(--ck-spacing-large) );
    margin-right: calc( 2 * var(--ck-spacing-large) );
}